body {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: 0.1rem;
  overflow-x: hidden !important;
  box-sizing: border-box;
  font-family: "urbanist";
  font-size: 1.1rem;
  background-color: rgb(246, 247, 249);
}
:root {
  --bs-primary: var(--bs-yellow);
  --bs-link-color-rgb: var(--bs-yellow-rgb);
  --bs-link-hover-color-rgb: var(--bs-yellow-rgb);
  --bs-primary-rgb: var(--bs-yellow-rgb);
  --bs-soft-primary: var(--bs-soft-yellow);
  --bs-pale-primary: var(--bs-pale-yellow);
  --bs-bullet-soft-primary: var(--bs-bullet-soft-yellow);
  --bs-icon-fill-primary: var(--bs-icon-fill-yellow);
  --bs-icon-solid-fill-primary: var(--bs-icon-solid-fill-yellow);
  --bs-border-soft-primary: var(--bs-border-soft-yellow);
  overflow-x: hidden !important;
}

.box {
  margin-left: 102px;
  margin-right: 102px;
  padding: 140px 15px 140px 15px;
}

.navbar {
  z-index: 50;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
 
}

 

.navbar::-webkit-scrollbar {
  margin: 0;
}
.nav-links ul, .navbar .social{
  display: flex;
  
  
}
.nav-links li:hover {
  color: orange;
}
.nav-links .end-icon:hover {
  color: orange;
}

.nav-links li{
  padding: 1rem;
}

.nav-links li{
  padding: 23px 20px;
}
.toggle-button{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: black;
}


/* .offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 34, 40, .7);} */


  /* .offcanvas-backdrop.show {
    opacity: 1;}

    .fade {
      transition: opacity .15s linear;
  } */





.social div {
  width: 20px;
  height: 20px;
}
.social img {
  width: 100%;
  height: 100%;
}


.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.services {
  color: #343f52;
}
.services .heading1 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0.75rem !important;
}
.services .description {
  color: rgb(96, 105, 123);
  text-align: start;
  line-height: 34px;
}

.section3 {
  background-image: url(./components/images/background/bg34.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  text-align: center;
  position: relative;
  width: 100vw;
  
}


.section3::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0000005c;
  display: block;
  position: absolute;
}

.section4 .heading {
  color: rgb(52, 63, 82);
}
.section4 .description {
  color: rgb(96, 105, 123);
  font-weight: 600;
  font-size: larger;
}
.miniNav {
  color: rgb(170, 176, 188);
}
.miniNav li:hover {
  color: orange;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  position: relative;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 30px;
  break-inside: avoid;
}
figure a {
  color: white;
  text-decoration: none;
}
.container {
  column-count: 3;
  column-gap: 30px;
}
.section5 {
  background-image: url(./components/images/background/bg2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  text-align: center;
  position: relative;
}


.section5::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0000005c;
  display: block;
  position: absolute;
}

.review {
  line-height: 28.9px;
  font-size: 17px;
}

.masked {
  mask-image: url(./components/images/hex.svg);
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  height: 100%;
}
.section8 {
  background-image: url(./components/images/background/bg100.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  text-align: center;
  position: relative;
}

.section8::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0000005c;
  display: block;
  position: absolute;
}
@media screen and (max-width: 992px) {  
   .nav{
    flex-direction: row;
   }
   .navbar{
    flex-direction: row;
    align-items: flex-start;
   }

   .nav-links{
    display: none;
   }
   
  
  .nav-links ul{
    width: 100%;
    flex-direction: column;
    
  }
  .nav-links li{
      padding: 0.5rem 1rem;
  }
 
  
  .nav-links.active{
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 34, 40);
    color: white; 
    height: 100dvh;  
    position: fixed;
    left: 0;
    top: 0;
  width: 75vw; 
  ul{
   margin-left: 20px;
   margin-top: 150px;
  }
  li{
    margin-bottom: 10px;
  }
  .social{
    display: none;
  }
  } 
  
  
  .toggle-button{
    display: flex;
    z-index: 100;
  }

  .services .container1, .services .container2{
    flex-direction: column;

  }
  .box{
    padding: 140px 15px 140px 15px ;
    margin-left: 110px;
    margin-right: 110px;
  }
  .miniNav .nav-links{
    flex-direction: column;
  }
  figure{
   
    grid-template-columns: 1fr;
    margin-bottom: 15px;
  }
  .container{
    column-count: 1;
   
  }
}
